= render "shared/header"

.contents-users-show
  .contents-wrapper
    =render partial: "shared/side"

    %main{class: "users-wrapper"}
      .users-wrapper__head
        %h2{class: "users-wrapper__head__title"}
          参加カテゴリー
      .users-wrapper__main
        = render partial: "categories/category", collection: current_user.categories, :as => "category"

      =link_to root_path, class: "add-button" do
        ➕


