%header{class: "header"}
  .title
    =image_tag "", class: "title__img"
    %h1.title__text G-life
  %nav{class: "nav"}
    = link_to "" , class: "nav__button" do
      新規登録
    = link_to "" , class: "nav__button" do
      ログイン
