.header {
  clear: both;
  width: 100%;
  height: 70px;
  background-color: $header-color;
  border-bottom: ridge thin $border-color;
  .title {
    float: left;
    height: 100%;
    &__img {
      display: inline-block;
      margin-left: 5px;
      width: 45px;
      height: 45px;
    }
    &__text {
      display: inline-block;
      line-height: 100%;
      color: $font-color;
    }
  }
  .nav {
    float: right;

    &__button {
      display: inline-block;
      margin-right: 10px;
      line-height: 70px;
      text-decoration: none;
      color: $font-color;
    }
  }
}
