.nav-categories {
  height: 50px;
  width: 100%;
  background-color: $content-backgroundcolor;
  overflow-x: scroll;
  white-space: nowrap;
  .categories-header-wrapper {
    display: inline-block;
    &__button {
      display: inline-block;
      padding: 0 15px;
      height: 50px;
      text-decoration: none;
      color: $font-color;
      line-height: 50px;
    }
    &__button-emphasis {
      display: inline-block;
      padding: 0 15px;
      height: 46px;
      text-decoration: none;
      color: $font-color;
      line-height: 50px;
      font-weight: bold;
      border-bottom: groove medium $header-category-color;
    }
    &__button:hover {
      opacity: 0.7;
      background-color: #eee;
    }
  }
  .add-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 60px;
    text-decoration: none;
    background-color: $header-category-color;
  }
}
.nav-categories::-webkit-scrollbar{
 display:none;
}


.contents-tweets-index {
  box-sizing: border-box;
  clear: both;
  min-height: 90%;
  width: 100%;
  background-color: $contents-backgroundcolor;
  .contents-wrapper {
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .side-bar {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .side-bar {
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    margin-right: 100px;
    min-height: 100px;
    width: 350px;
    background-color: $contents-backgroundcolor;
    &__avatar {
      display: block;
      margin: 0 auto;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    &__avatar-not {
      margin: 0 auto;
      .my-gray {
        color: #c0c0c0;
        margin-bottom: 20px;
      }
    }
    &__info {
      margin: 0 auto;
      width: 300px;
      height: 100px;
      padding: 20px;
      background-color: $content-backgroundcolor;
      border: ridge thin $border-color;
      &__user-name {
        display: block;
        margin-bottom: 10px;
        text-align: center;
        color: $font-color;
        text-decoration: none;
      }
      &__user-name:hover {
        opacity: 0.7;
      }
      &__follows {
        height: 40%;
        width: 100%;
        &__follow {
          display: inline-block;
          height: 100%;
          width: 48%;
          &__number {
            text-align: center;
          }
        }
      }
    }
    &__nav {
      margin-top: 40px;
      width: 340px;
      background-color: $content-backgroundcolor;
      &__box {
        display: block;
        height: 50px;
        text-decoration: none;
        border-bottom: ridge thin $border-color;
        &__text {
          margin-top: 0;
          line-height: 50px;
          color: $font-color;
        }
      }
      &__box.emphasis {
        opacity: 0.7;
        background-color: #eee;
        font-weight: bold;
      }
      &__box:hover {
        opacity: 0.7;
      }
    }
    &__goals {
      margin: 0 auto;
      width: 300px;
      margin-top: 20px;
      padding: 20px;
      background-color: $content-backgroundcolor;
      &__text {
        text-align: left;
        line-height: 2em
      }
      &__buttons {
        margin-top: 40px;
        text-align: right;
        &__ele {
        color: $font-color;
        }
        &__ele:hover {
          opacity: 0.7;
        }
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .tweets-wrapper, .goals-wrapper {
      display: inline-block;
      margin-bottom: 30px;
      width: 95%;
      background-color: $content-backgroundcolor;
  }
}

@media screen and (min-width: 701px) {
  .tweets-wrapper, .goals-wrapper {
      display: inline-block;
      margin-bottom: 30px;
      width: 700px;
      background-color: $content-backgroundcolor;
  }
}

.tweets-wrapper__box, .goals-wrapper__box {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
  border-bottom: ridge thin $border-color;
  &__head {
    &__avatar {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    &__avatar-not {
      display: inline-block;
      .my-gray {
        color: #c0c0c0;
      }
    }
    &__user-name {
      display: inline-block;
      vertical-align: top;
      height: 60px;
      margin-left: 20px;
      line-height: 60px;
      text-decoration: none;
      color: $font-color;
      font-weight: bold;
    }
    &__user-name:hover {
      opacity: 0.7;
    }
    &__date {
      display: inline-block;
      vertical-align: top;
      height: 60px;
      margin-left: 20px;
      line-height: 60px;
      color: #c0c0c0;
    }
    .tweets-list {
      display: inline-block;
      margin-left: 130px;
      width: 80px;
      height: 70px;
      background-color: $content-backgroundcolor;
      &__ele {
        display: block;
        height: calc(100% / 2);
        line-height: 35px;
        border-bottom: solid thin $border-color;
        text-decoration: none;
        color: $font-color;
      }
      &__ele:hover {
        background-color: $header-category-color;
      }
    }
    &__icon {
      float: right;
      vertical-align: top;
      margin-right: 10px;
      height: 60px;
      cursor: pointer;
      .my-gray {
        color: $border-color;
      }
    }
  }
  &__tweet {
    margin-top: 30px;
  }
  &__images {
    &__ele {
    display: inline-block;
    width: 200px;
    height: 200px;
    }
  }
}

.contents-new-edit {
  width: 100%;
  min-height: 90%;
  padding-top: 50px;
  background-color: $contents-backgroundcolor;
  .form-wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 450px;
    height: 600px;
    background-color: $content-backgroundcolor;
    .form-wrapper__title {
      text-align: center;
    }
    .tweet-goal {
        width: 100%;
        &__label {
        font-size: 14px;
        }
        &__text {
          border-bottom: ridge thin #ccc;
        }
      }
    .form-wrapper__form {
      display: block;
      margin-top: 30px;
      &__label {
        font-size: 14px;
      }
      &__text {
        display: block;
        width: 440px;

      }
      &__image {
        display: block;
        margin-top: 30px;
        .form__mask__image {
          input {
            display: inline-block;
          }
        }
      }
      &__button {
        display: block;
        margin: 30px auto;
        width: 200px;
        height: 50px;

      }
    }
  }
}
