.contents-users-show {
  box-sizing: border-box;
  clear: both;
  min-height: 90%;
  width: 100%;
  background-color: $contents-backgroundcolor;
  .contents-wrapper {
    margin: 0 auto;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 700px) {
      .users-wrapper {
        display: inline-block;
        width: 90%;
        min-height: 100px;
        padding: 20px;
        background-color: $content-backgroundcolor;
        &__head {
          &__title {
          }
        }
        &__main {
          &__box {
            width: 70%;
            height: 50px;
            margin: 0 auto;
            padding: 0 30px;
            border: ridge thin $border-color;
            cursor : pointer;
            &__title {
              float: left;
            }
            &__icon {
              float: right;
              line-height: 50px;
            }
          }
          &__box:hover {
            background-color: #eee;
          }
          &__nav {
            width: 100%;
            height: 50px;
            margin: 0 auto;
            &__ele {
              display: inline-block;
              width: calc(95% / 3);
              line-height: 50px;
              text-decoration: none;
              color: $font-color;
            }
          }

          &__forms {
            width: 500px;
            margin: 0 auto;
            .field {
              margin: 30px;
              .field__label {
                width: 219px;
                margin: 0 auto;
                text-align: left;
              }
              .field__current-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
              .field__image {
                input {
                }
              }
              .field__text {
                input {
                  height: 30px;
                  border-radius: 5px;
                }
              }
            }
            .actions {
              margin: 40px;
              &__button {
                width: 219px;
                height: 30px;
                border-radius: 5px;
              }
            }
          }
        }
        .add-button {
          display: block;
          float: right;
          margin-top: 30px;
          height: 50px;
          width: 50px;
          text-align: center;
          line-height: 50px;
          border-radius: 60px;
          text-decoration: none;
          background-color: $header-category-color;
        }
      }
    }
    @media screen and (min-width: 701px) {
      .users-wrapper {
        display: inline-block;
        width: 700px;
        min-height: 100px;
        padding: 20px;
        background-color: $content-backgroundcolor;
        &__head {
          &__title {
          }
        }
        &__main {
          &__box {
            width: 70%;
            height: 50px;
            margin: 0 auto;
            padding: 0 30px;
            border: ridge thin $border-color;
            cursor : pointer;
            &__title {
              float: left;
            }
            &__icon {
              float: right;
              line-height: 50px;
            }
          }
          &__box:hover {
            background-color: #eee;
          }
          &__nav {
            width: 70%;
            height: 50px;
            margin: 0 auto;
            &__ele {
              display: inline-block;
              width: calc(95% / 3);
              line-height: 50px;
              text-decoration: none;
              color: $font-color;
            }
          }

          &__forms {
            width: 500px;
            margin: 0 auto;
            .field {
              margin: 30px;
              .field__label {
                width: 219px;
                margin: 0 auto;
                text-align: left;
              }
              .field__current-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
              .field__image {
                input {
                }
              }
              .field__text {
                input {
                  height: 30px;
                  border-radius: 5px;
                }
              }
            }
            .actions {
              margin: 40px;
              &__button {
                width: 219px;
                height: 30px;
                border-radius: 5px;
              }
            }
          }
        }
        .add-button {
          display: block;
          float: right;
          margin-top: 30px;
          height: 50px;
          width: 50px;
          text-align: center;
          line-height: 50px;
          border-radius: 60px;
          text-decoration: none;
          background-color: $header-category-color;
        }
      }
    }
  }
}

