.header {
  clear: both;
  width: 100%;
  height: 10%;
  background-color: #ffdbc9;
  .title {
    float: left;
    &__img {
      display: inline-block;
      width: 50px;
      height: 50px;
    }
    &__text {
      display: inline-block;
    }
  }
  .nav {
    float: right;
    &__button {
      display: inline-block;
      background-color: #fff;
    }
  }
}

.contents {
  width: 100%;
  height: 70%;
  .heading {
    text-align: center;
    width: 100%;
    height: 10%;
  }
  .categories-wrapper {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    border-spacing: 30px 10px;
    width: 70%;
    height: 40%;
    background-color: #ccc;
    &__box {
      display: table-cell;
      border-radius: 5px;
      background-color: #ffdbc9;
    }
  }
  .button {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 10%;
    text-align: right;
  }
}

.footer {
  width: 100%;
  height: 20%;
  background-color: #ffdbc9;
}
