= render "shared/header"
.contents
  %h2{class: "heading"}
    カテゴリーから選ぶ
  .categories-wrapper
    - @categories.each do |category|
      %div{class: "categories-wrapper__box", id: "category_#{category.id}"}
        = category.name


  / 勉強カテゴリー
  / %h2{class: "heading"}
  /   勉強
  / .categories-wrapper
  /   - @study_categories.each do |study_category|
  /     .categories-wrapper__box
  /       = study_category.name


  / 運動カテゴリー
  / %h2{class: "heading"}
  /   運動
  / .categories-wrapper
  /   - @exercise_categories.each do |exercise_category|
  /     .categories-wrapper__box
  /       = exercise_category.name

  / 健康カテゴリー
  / %h2{class: "heading"}
  /   健康
  / .categories-wrapper
  /   - @health_categories.each do |health_category|
  /     .categories-wrapper__box
  /       = health_category.name

  / 趣味/創作活動
  / %h2{class: "heading"}
  /   趣味/創作活動
  / .categories-wrapper
  /   - @hobby_categories.each do |hobby_category|
  /     .categories-wrapper__box
  /       = hobby_category.name


/ = render "shared/footer"
